.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 40px auto 128px auto;
}
.logo {
  margin-top: 28px;
  text-align: left;
}

.logo_link {
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
}

span {
  text-transform: uppercase;
}

.logo:first-letter {
  text-transform: uppercase;
}

.navigation {
  width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  font-size: 14pt;
  font-family: "Montserrat", sans-serif;
  
}

.menu_item_link:hover {
  color: #f38181;
  border-bottom: 3px solid #f38181;

}
a {
  text-decoration: none;
}


.menu_item {
  padding-bottom: 12px;
}

.menu_item_link {
  color: #95e1d3;
}
