.title2{
  margin-top: 113px;
  font-size: 24pt;
  color: rgb(51, 51, 51);
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
body{
  margin-left: 360px;
  margin-right: 360px;
  width: 1200px;
}

.title_amazing_service{
  font-size: 30px;
  color:#333333;
  text-align: center;
  text-transform:uppercase;
  font-family: "Montserrat", sans-serif;  
}
.title_amazing_service::after{
  display: block;
  border-bottom: 3px solid #f38181;
  width: 60px;
  height:3px;
  margin:0 auto;
  content: ' ';
  margin-top: 42px;
}

.wapper{
  display: flex;
 }
.section1{
  display: flex;
  justify-content: space-between;
}
.section2{
  display: flex;
  justify-content: space-between;
}
.alarm_img{
  width: 32px;
  height: 31px;
  margin-right: 29px;
  margin-top: 67px;
}
.title_text{
  margin-top: 66px;
  text-transform:uppercase;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 14pt;
  color: #404040;
  
}
.text_in_block{
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15pt;
  text-align: left;
  width: 269px;
  height: 39px;
  display: inline-block;
  
}

p{
  color: rgba(153, 153, 153, 255);
}
.title3{
  margin-top: 92px;
  font-size: 24pt;
  color: rgb(51, 51, 51);
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
.under_title{
margin-top: 46px;
font-size: 15pt;
color: rgba(153, 153, 153, 255);
text-align: center;
font-family: 'Roboto-Regular', sans-serif;
width: 941px;
margin:0 auto;
margin-bottom: 90px;

}

.wrapper_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.card_section2 {
  width: 380px;
  margin-right: 28px;
  margin-bottom: 82px;
}

.img_card {
  width: 380px;
  height: auto;
  margin-bottom: 31px;
}

.title_card {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}

.text_card {
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  color: #999999;
}